<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-2 bg-dark text-white p-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-4 border-end p-3 overflow-auto">
      <app-email-list   [emails]="emails"  (selectEmail)="onEmailSelect($event)"></app-email-list>
    </div>
    <div class="col-md-6 p-3 overflow-auto">
      <app-email-details [email]="selectedEmail"></app-email-details>
    </div>
  </div>
</div>


<!-- 
<div class="container-fluid h-100">
  <div class="row h-100">
 
    <nav class="col-md-2 bg-dark text-white p-3 d-flex flex-column">
      <app-sidebar></app-sidebar>
    </nav>

   
    <div class="col-md-4 border-end p-0 d-flex flex-column">
      <div class="bg-light p-3 border-bottom">
        <h5 class="mb-0">Inbox</h5>
      </div>
      <div class="flex-grow-1 overflow-auto p-3">
        <app-email-list (selectEmail)="onEmailSelect($event)"></app-email-list>
      </div>
    </div>

  
    <div class="col-md-6 p-0 d-flex flex-column">
      <div class="bg-light p-3 border-bottom">
        <h5 class="mb-0">Details</h5>
      </div>
      <div class="flex-grow-1 overflow-auto p-3">
        <app-email-details [email]="selectedEmail"></app-email-details>
      </div>
    </div>
  </div>
</div> -->
